@import "../../sassStyles/global";
@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.dashboard-deco-middle {
  background: url("../../assets/imgs/gradient-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &__typography {
    color: $white;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2.5rem !important;
    top: 0;
    right: 0;
    padding: 32px;
  }
}

#dashboard-first-tab,
#dashboard-last-tab {
  &::-webkit-scrollbar {
    display: none;
  }
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

#dashboard-first-tab {
  @include tablet {
    order: 2;
  }
  @include mobile {
    order: 2;
  }
}

#dashboard-last-tab {
  @include tablet {
    margin-top: 64px;
    order: 1;
    height: 700px;
  }
  @include mobile {
    margin-top: 64px;
    order: 1;
    height: 100vh;
  }
}

#dashboard-md-first-tab {
  height: 100%;
}

#dashboard-welcome {
  @include tablet {
    display: grid;
    align-content: space-between;
  }
  @include mobile {
    display: block;
  }
}

#dashboard-quizzes-list,
#dashboard-welcome {
  @include tablet {
    height: 100%;
  }
  @include mobile {
    height: 100%;
  }
}

#dashboard-quizzes-list {
  @include tablet {
    overflow-y: scroll;
  }
  @include mobile {
    overflow-y: scroll;
  }
}

.dashboard-quiz {
  @include desktop {
    padding-top: 16px;
  }
  @include tablet {
    padding-top: 16px;
    padding-left: 16px;
    margin-left: -16px !important;
  }
  @include mobile {
    padding-top: 16px;
    padding-left: 16px;
    margin-left: -16px !important;
  }
}

.add-group-button {
  @include mobile {
    width: 100%;
    margin-top: 16px !important;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.error-message-validate {
  color: darkred;
  font-size: 0.88rem;
  position: absolute;
  overflow: visible;
}

.MuiTableRow-hover {
  transition: 0.3s;
}
