@import "../../sassStyles/global";

#fluid-layout {
  &-container {
    &::-webkit-scrollbar {
      display: none;
    }
    @include tablet {
      overflow-y: scroll !important;
    }

    @include mobile {
      overflow-y: scroll !important;
    }
  }

  &__left {
    &::-webkit-scrollbar {
      display: none;
    }
    background: linear-gradient(to right, $white, $white-light);
  }

  &__main {
    &::-webkit-scrollbar {
      display: none;
    }

    @include desktop {
      border-left: 1px solid $black;
      border-right: 1px solid $black;
    }

    @include tablet {
      border-color: 1px solid $black;
    }

    @include mobile {
      border-color: 1px solid $black;
      height: 100vh !important;
    }
  }

  &__right {
    background: linear-gradient(to left, $white, $white-light);

    @include tablet {
      margin-top: 64px;
      order: 1;
      height: 700px;
    }
    @include mobile {
      margin-top: 64px;
      order: 1;
      height: 100vh;
    }
  }
}
