@import "../../sassStyles/global";

.search-field {
  @include tablet {
    margin-right: 0 !important;
    width: 100% !important;
  }
  @include mobile {
    margin-right: 0 !important;
  }
}

.presentation-content-box .MuiIconButton-root {
  color: $white;
}
