@import "../../sassStyles/global";

#main-area {
  @include desktop {
    border-right: 1px solid $black;
  }

  @include tablet {
    border-color: 1px solid $black;
  }

  @include mobile {
    border-color: 1px solid $black;
  }
}

.search-field {
  @include tablet {
    margin-right: 0 !important;
    width: 100% !important;
  }
  @include mobile {
    margin-right: 0 !important;
  }
}
