@import "../../../sassStyles/global";
@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.workplace-card,
.role-card {
  @include desktop {
    width: 180px;
    height: 253px;
  }
  @include tablet {
    width: 180px;
    height: 253px;
  }
  @include mobile {
    width: 160px !important;
    height: 233px !important;
  }
}

.workplace-card {
  &--1 {
    background-color: $primary-color !important;
  }
  &--2 {
    background-color: $primary-color-dark1 !important;
  }
  &--3 {
    background-color: $primary-color-dark2 !important;
  }
  &--4 {
    background-color: $primary-color-dark3 !important;
  }
}

.role-card {
  margin: 12px;
  &--teacher {
    background-color: $primary-color !important;
  }

  &--student {
    background-color: $secondary-color !important;
  }
  // &__header {
  //   min-height: 4.75rem;
  //   height: 3rem;
  //   display: flex;
  //   align-items: center;
  //   padding: 0px 1.875rem;
  //   margin: 0px auto;
  // }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}

* {
  text-decoration: none !important;
}

.deco-img-1 {
  position: absolute;
  z-index: -1;
  @include desktop {
    width: 1180px;
    top: -40%;
    right: -20%;
  }
  @include tablet {
    top: 0%;
    right: -20%;
    width: 1000px;
  }
  @include mobile {
    width: 350px;
  }
}

.error-message-validate {
  color: darkred;
  font-size: 0.88rem;
  position: absolute;
}
