@import "./variables";

body {
  background-color: $white !important;
  min-height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }
}

.text-stroke {
  // text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white,
  //   1px 1px 0 $white;
  text-shadow: 0px 1px 8px $white, 0px -1px 8px $white;
}
