@import "../../sassStyles/global";

.preview-box {
  transition: all 0.2s !important;
  &:hover {
    background-color: $white;
    scale: 1.05;
    outline: 6px double $white-light;
    cursor: pointer;
  }
  &--active {
    background-color: $black !important;
    color: $white !important;

    button {
      border: 1px solid $white;
      color: $white;
    }
  }
}

#preview-box__indicator {
  display: none;
  color: $black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2rem;
}
